@using WebBanHangDienThoai.Models
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
@{
    IEnumerable<SanPham> lstDTM = ViewBag.ListDTM as IEnumerable<SanPham>;
}

<div class="new_arrivals_agile_w3ls_info">
    <div class="container">
        <h3 class="wthree_text_info">Điện Thoại <span>Mới Nhất</span></h3>
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
            <ul class="resp-tabs-list">
                <li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab"> Điện Thoại</li>
                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"> Laptop</li>
               
            </ul>
            <div class="resp-tabs-container">
              @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstDTM)
             </div>
         </div>
      </div>
</div>



